:root {
  --azul-medianoche: #1D2D44;
  --amarillo-dorado: #FFC300;
  --rojo-ladrillo: #B33951;
  --crema-vintage: #F0EAD6;
  --verde-oliva: #6D8E4E;
  --rojo-error: #A8201A;
  --gris-ui: #EEEEEE;
  --gris-texto: #666666;
}
